USE [master]
GO
/****** Object:  Database [QL_ThuVien]    Script Date: 9/26/2022 1:45:37 PM ******/
CREATE DATABASE [QL_ThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_ThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QL_ThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_ThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QL_ThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_ThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_ThuVien]
GO
/****** Object:  Table [dbo].[Tbl_ChiTietDonMuon]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ChiTietDonMuon](
	[St_MaDonMuon] [nchar](10) NOT NULL,
	[St_MaSach] [nchar](10) NOT NULL,
	[in_SoLuong] [smallint] NOT NULL,
 CONSTRAINT [PK_Tbl_ChiTietDonMuon] PRIMARY KEY CLUSTERED 
(
	[St_MaDonMuon] ASC,
	[St_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_DonMuonSach]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_DonMuonSach](
	[St_MaDonMuon] [nchar](10) NOT NULL,
	[St_MaSinhVien] [nchar](10) NOT NULL,
	[St_MaKhoa] [nchar](10) NOT NULL,
	[St_NgayMuon] [date] NOT NULL,
	[St_NgayTra] [date] NOT NULL,
 CONSTRAINT [PK_Tbl_DonMuonSach] PRIMARY KEY CLUSTERED 
(
	[St_MaDonMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_KeSach]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_KeSach](
	[St_MaKeSach] [nchar](10) NOT NULL,
	[St_TenKeSach] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Tbl_KeSach] PRIMARY KEY CLUSTERED 
(
	[St_MaKeSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Khoa]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Khoa](
	[St_MaKhoa] [nchar](10) NOT NULL,
	[St_TenKhoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Khoa] PRIMARY KEY CLUSTERED 
(
	[St_MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_LoaiSach]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_LoaiSach](
	[St_MaLoaiSach] [nchar](10) NOT NULL,
	[St_TenSach] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Tbl_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[St_MaLoaiSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sach]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sach](
	[St_MaSach] [nchar](10) NOT NULL,
	[St_TenSach] [nvarchar](50) NOT NULL,
	[St_MaLoaiSach] [nchar](10) NOT NULL,
	[St_MaTacGia] [nchar](10) NOT NULL,
	[St_MaKeSach] [nchar](10) NOT NULL,
	[St_TomTat] [nvarchar](50) NOT NULL,
	[St_TinhTrang] [nvarchar](50) NOT NULL,
	[St_Anh] [nvarchar](50) NULL,
	[In_SoLuong] [smallint] NOT NULL,
 CONSTRAINT [PK_Tbl_Sach] PRIMARY KEY CLUSTERED 
(
	[St_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SinhVien]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SinhVien](
	[St_MaSinhVien] [nchar](10) NOT NULL,
	[St_TenSinhVien] [nvarchar](50) NOT NULL,
	[St_MaKhoa] [nchar](10) NOT NULL,
	[In_SoLanBiPhat] [smallint] NOT NULL,
	[In_SoDienThoai] [smallint] NOT NULL,
	[St_Gmail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_SinhVien] PRIMARY KEY CLUSTERED 
(
	[St_MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TacGia]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TacGia](
	[St_MaTacGia] [nchar](10) NOT NULL,
	[St_TenTacGia] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Tbl_TacGia] PRIMARY KEY CLUSTERED 
(
	[St_MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TaiKhoan]    Script Date: 9/26/2022 1:45:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TaiKhoan](
	[St_MaSinhVien] [nchar](10) NOT NULL,
	[St_MatKhau] [nvarchar](20) NOT NULL,
	[St_QuyenHan] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Tbl_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[St_MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_ChiTietDonMuon]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ChiTietDonMuon_Tbl_DonMuonSach] FOREIGN KEY([St_MaDonMuon])
REFERENCES [dbo].[Tbl_DonMuonSach] ([St_MaDonMuon])
GO
ALTER TABLE [dbo].[Tbl_ChiTietDonMuon] CHECK CONSTRAINT [FK_Tbl_ChiTietDonMuon_Tbl_DonMuonSach]
GO
ALTER TABLE [dbo].[Tbl_ChiTietDonMuon]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ChiTietDonMuon_Tbl_Sach] FOREIGN KEY([St_MaSach])
REFERENCES [dbo].[Tbl_Sach] ([St_MaSach])
GO
ALTER TABLE [dbo].[Tbl_ChiTietDonMuon] CHECK CONSTRAINT [FK_Tbl_ChiTietDonMuon_Tbl_Sach]
GO
ALTER TABLE [dbo].[Tbl_DonMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_DonMuonSach_Tbl_SinhVien] FOREIGN KEY([St_MaSinhVien])
REFERENCES [dbo].[Tbl_SinhVien] ([St_MaSinhVien])
GO
ALTER TABLE [dbo].[Tbl_DonMuonSach] CHECK CONSTRAINT [FK_Tbl_DonMuonSach_Tbl_SinhVien]
GO
ALTER TABLE [dbo].[Tbl_Sach]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sach_Tbl_KeSach] FOREIGN KEY([St_MaKeSach])
REFERENCES [dbo].[Tbl_KeSach] ([St_MaKeSach])
GO
ALTER TABLE [dbo].[Tbl_Sach] CHECK CONSTRAINT [FK_Tbl_Sach_Tbl_KeSach]
GO
ALTER TABLE [dbo].[Tbl_Sach]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sach_Tbl_LoaiSach] FOREIGN KEY([St_MaLoaiSach])
REFERENCES [dbo].[Tbl_LoaiSach] ([St_MaLoaiSach])
GO
ALTER TABLE [dbo].[Tbl_Sach] CHECK CONSTRAINT [FK_Tbl_Sach_Tbl_LoaiSach]
GO
ALTER TABLE [dbo].[Tbl_Sach]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Sach_Tbl_TacGia] FOREIGN KEY([St_MaTacGia])
REFERENCES [dbo].[Tbl_TacGia] ([St_MaTacGia])
GO
ALTER TABLE [dbo].[Tbl_Sach] CHECK CONSTRAINT [FK_Tbl_Sach_Tbl_TacGia]
GO
ALTER TABLE [dbo].[Tbl_SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_SinhVien_Tbl_Khoa] FOREIGN KEY([St_MaKhoa])
REFERENCES [dbo].[Tbl_Khoa] ([St_MaKhoa])
GO
ALTER TABLE [dbo].[Tbl_SinhVien] CHECK CONSTRAINT [FK_Tbl_SinhVien_Tbl_Khoa]
GO
ALTER TABLE [dbo].[Tbl_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TaiKhoan_Tbl_SinhVien] FOREIGN KEY([St_MaSinhVien])
REFERENCES [dbo].[Tbl_SinhVien] ([St_MaSinhVien])
GO
ALTER TABLE [dbo].[Tbl_TaiKhoan] CHECK CONSTRAINT [FK_Tbl_TaiKhoan_Tbl_SinhVien]
GO
USE [master]
GO
